@CHARSET "ISO-8859-1";

/* 
	die CSS-Selektoren beginnen mit einer Raute, weil sie sich
	auf das ID-Attribut im HTML beziehen (ID-Selektoren)	
*/
body {
	background-color: rgba(0, 0, 0, 0.8);
}

#page-wrapper {
	width: 900px;
	margin: 0 auto;
	background-color: #fff;
}

#header {
	height: 50px;
	min-height: 50px;
	background-color: rgba(255, 0, 0, 0.5);
}

#navigation {
	height: 100px;
	min-height: 100px;
	width: 90px;
	min-width: 90px;
	float: left;
	background-color: rgba(0, 255, 0, 0.5);
}

#content {
	margin-left: 100px;
}